In [1]:
import pandas as pd
import numpy as np

In [2]:
pip install tabula-py

Requirement already satisfied: tabula-py in c:\users\suraj\anaconda3\lib\site-packages (2.6.0)
Requirement already satisfied: numpy in c:\users\suraj\anaconda3\lib\site-packages (from tabula-py) (1.21.5)
Requirement already satisfied: distro in c:\users\suraj\anaconda3\lib\site-packages (from tabula-py) (1.8.0)
Requirement already satisfied: pandas>=0.25.3 in c:\users\suraj\anaconda3\lib\site-packages (from tabula-py) (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\suraj\anaconda3\lib\site-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\suraj\anaconda3\lib\site-packages (from pandas>=0.25.3->tabula-py) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\suraj\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.25.3->tabula-py) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import tabula as tb

In [4]:
tb.convert_into("pmo_ofc.pdf", "Solar_Table1.csv",stream=True,area=(100, 24, 695, 589),output_format="csv", pages=14)

In [5]:
solar_table1=pd.read_csv('Solar_Table1.csv')

In [6]:
solar_table1

    Sr. No.                          State/UT Solar Potential Unnamed: 2
0       NaN                                           (GWp) #        NaN
1       1.0                                    Andhra Pradesh      38.44
2       2.0                                 Arunachal Pradesh       8.65
3       3.0                                             Assam      13.76
4       4.0                                             Bihar      11.20
5       5.0                                      Chhattisgarh      18.27
6       6.0                                             Delhi       2.05
7       7.0                                               Goa       0.88
8       8.0                                           Gujarat      35.77
9       9.0                                           Haryana       4.56
10     10.0                                  Himachal Pradesh      33.84
11     11.0                                   Jammu & Kashmir     111.05
12     12.0                                         Jharkhand     18. 18
13     13.0                                         Karnataka      24.70
14     14.0                                            Kerala       6.11
15     15.0                                    Madhya Pradesh      61.66
16     16.0                                       Maharashtra      64.32
17     17.0                                           Manipur      10.63
18     18.0                                         Meghalaya       5.86
19     19.0                                           Mizoram       9.09
20     20.0                                          Nagaland       7.29
21     21.0                                            Odisha      25.78
22     22.0                                            Punjab       2.81
23     23.0                                         Rajasthan     142.31
24     24.0                                            Sikkim       4.94
25     25.0                                        Tamil Nadu      17.67
26     26.0                                         Telangana      20.41
27     27.0                                           Tripura       2.08
28     28.0                                     Uttar Pradesh      22.83
29     29.0                                       Uttarakhand      16.80
30     30.0                                       West Bengal       6.26
31     31.0                                               UTs       0.79
32      NaN                                             TOTAL     748.98
33      NaN  # Assessed by National Institute of Solar Energy        NaN

In [7]:
tb.convert_into("pmo_ofc.pdf", "Solar_Table2.csv",stream=True,area=(100, 24, 895, 589),output_format="csv", pages=15) 

solar_table2=pd.read_csv('Solar_Table2.csv')

In [8]:
solar_table2

,Sr.,State/UT,Cumulative capacity till,Capacity added in,Cumulative Capacity till
0,No.,NaN,2017-18 (MW),2018-19 till 31-03-2019,31-03-2019 (MW)
1,NaN,NaN,NaN,(MW),NaN
2,1,Andaman & Nicobar,6.56,5.17,11.73
3,2,Andhra Pradesh,2195.46,890.22,3085.68
4,3,Arunachal Pradesh,5.39,0.00,5.39
5,4,Assam,12.45,9.95,22.40
6,5,Bihar,142.45,0.00,142.45
7,6,Chandigarh,25.20,9.51,34.71
8,7,Chhattisgarh,231.35,0.00,231.35
9,8,Dadra&Nagar Haveli,5.46,0.00,5.46
10,9,Daman & Diu,10.61,3.86,14.47
11,10,Delhi,69.57,57.32,126.89
12,11,Goa,0.91,2.98,3.89
13,12,Gujarat,1588.00,852.13,2440.13
14,13,Haryana,216.85,7.67,224.52
15,14,Himachal Pradesh,0.73,21.95,22.68
16,15,Jammu & Kashmir,1.36,13.47,14.83
17,16,Jharkhand,25.67,9.28,34.95
18,17,Karnataka,4944.12,1151.43,6095.55
19,18,Kerala,107.94,30.65,138.59
20,19,Lakshadweep,0.75,0.00,0.75
21,20,Madhya Pradesh,1305.35,534.81,1840.16
22,21,Maharashtra,1239.18,394.36,1633.54
23,22,Manipur,0.06,3.38,3.44
24,23,Meghalaya,0.02,0.10,0.12
25,24,Mizoram,0.20,0.30,0.50
26,25,Nagaland,1.00,0.00,1.00
27,26,Odisha,79.57,315.16,394.73
28,27,Pondicherry,0.16,2.98,3.14
29,28,Punjab,905.62,0.00,905.62
30,29,Rajasthan,2332.77,894.02,3226.79
31,30,Sikkim,0.00,0.01,0.01
32,31,Tamil Nadu,1908.57,666.65,2575.22
33,32,Telangana,3291.25,300.84,3592.09
34,33,Tripura,5.09,0.00,5.09
35,34,Uttar Pradesh,694.41,265.69,960.10
36,35,Uttarakhand,260.08,46.67,306.75
37,36,West Bengal,37.32,38.63,75.95
38,NaN,Total,21651.46,6529.20,28180.66
39,NaN,NaN,15,NaN,NaN

In [9]:
tb.convert_into("pmo_ofc.pdf", "Solar_Table3.csv",stream=True,area=(100, 24, 895, 589),output_format="csv", pages=24) 

solar_table3=pd.read_csv('Solar_Table3.csv')

solar_table3

,S.No.,State /UTs,Subsidized (MW),Non Subsidized,Total (MW)
0,NaN,NaN,NaN,(MW),NaN
1,1.0,ANDAMAN and NICOBAR ISLANDS,1.00,0.00,1.00
2,2.0,ANDHRA PRADESH,41.56,16.98,58.53
3,3.0,ARUNACHAL PRADESH,0.00,4.12,4.12
4,4.0,ASSAM,10.05,1.68,11.73
5,5.0,BIHAR,1.67,1.36,3.02
6,6.0,CHANDIGARH,20.66,5.22,25.87
7,7.0,CHHATTISGARH,8.69,1.55,10.24
8,8.0,DADRA and NAGAR HAVELI,0.00,0.48,0.48
9,9.0,DAMAN and DIU,0.00,0.39,0.39
10,10.0,GOA,2.44,0.51,2.94
11,11.0,GUJARAT,130.73,71.74,202.47
12,12.0,HARYANA,37.52,56.19,93.72
13,13.0,HIMACHAL PRADESH,3.46,2.22,5.68
14,14.0,JAMMU and KASHMIR,5.75,0.59,6.34
15,15.0,JHARKHAND,8.98,1.62,10.60
16,16.0,KARNATAKA,12.78,107.97,120.75
17,17.0,KERALA,20.18,17.97,38.15
18,18.0,LAKSHADWEEP,0.00,0.00,0.00
19,19.0,MADHYA PRADESH,20.21,13.42,33.62
20,20.0,MAHARASHTRA,67.87,118.36,186.24
21,21.0,MANIPUR,2.11,1.33,3.44
22,22.0,MEGHALAYA,0.04,0.08,0.12
23,23.0,MIZORAM,0.30,0.10,0.40
24,24.0,NAGALAND,0.00,0.00,0.00
25,25.0,NCT OF DELHI,61.30,12.42,73.72
26,26.0,ORISSA,9.47,1.69,11.16
27,27.0,PUDUCHERRY,0.77,1.00,1.77
28,28.0,PUNJAB,22.88,38.72,61.60
29,29.0,RAJASTHAN,36.74,58.46,95.20
30,30.0,SIKKIM,0.00,0.01,0.01
31,31.0,TAMIL NADU,48.51,94.45,142.95
32,32.0,TELANGANA,30.31,23.52,53.83
33,33.0,TRIPURA,0.00,0.00,0.00
34,34.0,UTTAR PRADESH,40.81,42.43,83.23
35,35.0,UTTARAKHAND,21.78,45.19,66.96
36,36.0,WEST BENGAL,12.67,13.27,25.94
37,NaN,Total,681.22,755.04,1436.26
38,NaN,NaN,24.00,NaN,NaN

In [23]:
tb.convert_into("Pmo_ofc.pdf", "Solar_Table4.csv",lattice=True,area=(100,24,720, 589),output_format="csv", pages=27)


solar_table4=pd.read_csv('Solar_Table4.csv')

solar_table4

        T ble 3.8 State-Wise Details of Solar PV Pumps              Unnamed: 2
0   S.No.                                        State  Pumps Installed (Nos.)
1       1                               Andhra Pradesh                   15000
2       2                                        Bihar                     225
3       3                                 Chhattisgarh                   15000
4       4                                      Gujarat                    3537
5       5                                    Jharkhand                     392
6       6                               Madhya Pradesh                   14000
7       7                                  Maharashtra                    1000
8       8                                       Orissa                     530
9       9                                       Punjab                    2000
10     10                                    Rajasthan                    7134
11     11                                    Tamilnadu                     525
12     12                                Uttar Pradesh                    9588
13    NaN                                        Total                   68931

In [11]:
tb.convert_into("pmo_ofc.pdf", "wind_Table1.csv",stream=True,area=(550, 24, 795, 589),output_format="csv", pages=41) 

wind_1=pd.read_csv('wind_Table1.csv')
wind_1

    S. No.                   State  Wind Power Potential at 100 meter in GW
0      1.0          Andhra Pradesh                                    44.23
1      2.0                 Gujarat                                    84.43
2      3.0               Karnataka                                    55.86
3      4.0          Madhya Pradesh                                    10.48
4      5.0             Maharashtra                                    45.39
5      6.0               Rajasthan                                    18.77
6      7.0              Tamil Nadu                                    33.80
7      NaN  Total (7 windy States)                                   292.97
8      NaN            Other States                                     9.28
9      NaN         All India Total                                   302.25
10     NaN                     NaN                                    41.00

In [27]:
# tb.convert_into("pmo_ofc.pdf", "wind_Table2.csv",stream=True,area=(210, 24, 795, 489),output_format="csv", pages=43) 

# wind_2=pd.read_csv('wind_Table2.csv')
# wind_2

   Unnamed: 0                                   4 Madhya Pradesh    2519.89
0         NaN                                      5 Maharashtra    4794.13
1         NaN                                        6 Rajasthan    4299.72
2         NaN                                       7 Tamil Nadu   8968.905
3         NaN                                        8 Telangana      128.1
4         NaN                                           9 Kerala      52.50
5         NaN                                          10 Others       4.30
6         NaN                                        Total  (MW)  35625.965
7        (ii)  The year-wise electricity generation from wind...        NaN
8         NaN  Table 4.3: Year wise Electricity Generation fr...        NaN
9         NaN                                       Sr. No. Year  Wind (MU)
10        NaN                                          1 2014-15      33768
11        NaN                                          2 2015-16      33029
12        NaN                                          3 2016-17      46004
13        NaN                                          4 2017-18      52666
14        NaN                                          5 2018-19      62036
15      4.2.4  TECHNOLOGY DEVELOPMENT AND MANUFACTURING BASE ...        NaN
16        NaN  The Wind Turbine Generator technology has evol...        NaN
17        NaN  in the country for the manufacture of wind tur...        NaN
18        NaN  with strong domestic manufacturing in the wind...        NaN
19        NaN  their presence in the country and over 43 diff...        NaN
20        NaN  more than 15 different companies, through (i) ...        NaN
21        NaN  of foreign companies, and (iii) Indian compani...        NaN
22        NaN  has gone up to 3.00 MW. The current annual pro...        NaN
23        NaN                                          10000 MW.        NaN
24      4.2.5               TENDER/BIDDING IN WIND ENERGY SECTOR        NaN
25        (i)  The Government issued ‘Guidelines for Tariff B...        NaN
26        NaN  Power from Grid Connected Wind Power Projects,...        NaN
27        NaN  objective is to provide a framework for procur...        NaN
28        NaN  including standardization of the process and d...        NaN
29        NaN                                                NaN         43

In [13]:
tb.convert_into("pmo_ofc.pdf", "wind_Table3.csv",stream=True,area=(210, 24, 795, 589),output_format="csv", pages=57) 

wind_3=pd.read_csv('wind_Table3.csv')
wind_3

     S.           State/UT Water Pumping Mills     Aero-generated &
0   No.                NaN              (Nos.)  Hybrid Systems (kW)
1    1.  Andaman & Nicobar                   2                    0
2    2.     Andhra Pradesh                   6                271.0
3    3.  Arunachal Pradesh                   0                  7.0
4    4.              Assam                   3                  6.0
5    5.              Bihar                  46                  0.0
6    6.                Goa                   0                194.0
7    7.            Gujarat                1066                 20.0
8    8.            Haryana                   0                 10.0
9    9.   Himachal Pradesh                   0                  4.0
10  10.    Jammu & Kashmir                   0                 96.0
11  11.          Karnataka                  28                 39.0
12  12.             Kerala                  79                  8.0
13  13.     Madhya Pradesh                   0                 24.0
14  14.        Maharashtra                  26               1833.6
15  15.            Manipur                   0                140.0
16  16.          Meghalaya                   0                201.0
17  17.            Mizoram                   0                 21.0
18  18.           Nagaland                   0                 20.0
19  19.             Odisha                   0                 13.0
20  20.         Puducherry                   0                  5.0
21  21.             Punjab                   0                 50.0
22  22.          Rajasthan                 222                 14.0
23  23.             Sikkim                   0                 16.0
24  24.         Tamil Nadu                  60                257.0
25  25.            Tripura                   0                  2.0
26  26.        Uttarakhand                   0                 24.0
27  27.        West Bengal                   0                 74.0
28  NaN              Total                1536               3349.6
29  NaN                NaN                  57                  NaN

In [14]:
# tb.convert_into("pmo_ofc.pdf", "funds.csv",stream=True,area=(0, 24, 795, 589),output_format="csv", pages=161) 
# funds=pd.read_csv('funds.csv')
# funds

In [20]:
# l=[162,163,164,165,166,167,168,169,170,171]

# tb.convert_into("Pmo_ofc.pdf", "Fund_table1.csv",lattice=True,area=(100,24,720, 589),output_format="csv", pages=l)